<div class="container">
  <div class="row">
  	<% @post.each do |post| %>
	  <div class="col-sm-4">
	  	<div class="col-sm-12">
		    <%= link_to mypage_path(post.user) do %>
				<%= attachment_image_tag post, :image, :fill, 130, 130, format: 'jpg', fallback: "logo.PNG" %>
			<% end %>
			    <div class="post-index-name">
			      <%= link_to post.user.nickname, mypage_path(post.user), :style=>"color:#777777;" %>
			    </div>
	            <div class="post-index-title">
	              <%= post.title %>
				</div>
				<div class="post-index-spot">
			      <%= post.created_at %>
			    </div>
			    <% post.categories.each do |category| %>
			      <span>【カテゴリ】</span>
                  <%= category.name %>
                <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="post-index-pagenate"><%= paginate @posts %></div>
